.food_card_container
{
    width: 124px;
    height: auto;
    border-radius: 2.5px;
    box-shadow: 0 7.5px 7.5px 0 rgba(0, 0, 0, 0.07);
    background-color: #fff;
    text-align: center;
    box-sizing: border-box;
    padding:20px;
    margin: 10px;
    cursor: pointer;
}
.food_card_container:hover
{
    transform: scale(1.1);
    transition: 0.5s;
}
.food_card_container img
{
    width: 50px;
    height: 55px;
}

.food_card_container p
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 11px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #333;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-transform: uppercase;
}