.food_categories_cart
{
  width: 170px;
  height: 170px;
  box-shadow: 0 7.5px 7.5px 0 rgba(0, 0, 0, 0.07);
  background-color: #fff;
  text-align: center;
  box-sizing: border-box;
  padding:20px 15px 20px 15px;
  border-radius: 3px;
}
.food_categories_cart:hover{
    transform: scale(1.2);
    transition: 0.3s;
    cursor: pointer;
}

.food_categories_cart img
{
    width: 37.4px;
    height: 38.1px;
}
.categories_title
{
    width: 90px;
    height: 27px;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.3px;
    text-align: center;
    color: #333;
    margin:0 auto;
    padding:5px;
}
.food_categories_cart p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: 0.24px;
    text-align: center;
    color: gray;
}

@media (max-width: 768px) {
    .food_categories_cart{
        margin:5px;
        width: 100%;
    }
    
}
