.section1
{
    height:700px;
    width:100%;
    background-image: url('../assets/img/Untitled-1@3x.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.Party-Time
{
  width: 495px;
  height: 55.5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 48px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.85;
  letter-spacing: 1.44px;
  text-align: center;
  color: #fff;
  position: absolute;
  top:250px;
}

.Group-1389
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 86.9px;
    position: absolute;
    top:300px;
}

#left_container
{
    height:86.9px;
    width:7%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#left_container img
{
    width: 50px;
    height: 50px;
}

#center_container{
    height:86.9px;
    width:35%;
    position: relative;
}
#center_container img
{
    width: 394.2px;
    height: 86.9px;
}
.Buy-any-2-burgers-and-get-15L-Pepsi-Free
{
  width: 185px;
  height: 38.5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.33px;
  text-align: left;
  color: #fff;
  position: absolute;
  top:12px;
  left:55px;
}

#right_container
{
    height:86.9px;
    width:58%;
    /* background: yellow; */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
}

#right_container img
{
    width: 11.2px;
    height: 21.5px;
}

.order_now
{
    width: 390px;
    height: auto;
    position: absolute;
    top:430px;   
    display: flex;
    justify-content: center;
    align-items: center;
}
.order_now button
{
    height: 38px;
    width: 127.5px;
    border-radius: 45px;
    background: #ffaa00;
    border:none;
    cursor: pointer;
    font-size: 13.5px;
    font-weight: 500;
    font-style: normal;
    line-height: 0.85;
    letter-spacing: 0.41px;
    text-align: center;
    color: #bd340a;
}
.group_3090
{
    height: auto;
    width:100%;
    position: absolute;
    bottom: -20px;
}
.Group-1390-img
{
    height: 35.8px;
    width:100%;
}

/*------------------------------------section2 style-------------------------*/

.section2
{
    padding-top:3em;
    overflow: hidden;
    text-align: center;
}

.section2 h2
{
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.75px;
  text-align: center;
  color: #ab1818;
  margin-block-start: 0;
  margin-block-end: 0;
}

section p
{
  font-family:sans-serif;
  font-size: 11px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: gray;
}

.brush_1
{
  width: 188.5px;
  height: 6.5px;
}

.eat_stuff_container
{
    height:auto;
    width:100%;
    box-sizing: border-box;
    padding-top:2em;
    padding-bottom: 5em;
    /* background: red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 10px;
}

.Rectangle-274
{
    width: 100%;
    height: auto;
    background-color: rgb(255, 170, 0);
    position: relative;
}

.Path-4325
{
    width: 100%;
    height: 35.8px;
    position: absolute;
    top:-12px;
}
.Path-4325 img
{
    width: 100%;
    height: 35.8px;
}

.food_categories_container
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height:auto;
    width: 90%;
    box-sizing: border-box;
    padding: 5em 20px 30px 20px;
    align-items: center;
    justify-content: space-around;
    margin:0 auto;
    /* background: red; */
}
.group1419
{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: -30px;
}

.group1419 img
{
    height: 35.8px;
    width: 100%;
}


/*-------------------------------------section3 styles----------------------------------*/

.section3
{
    height:auto;
    width:100%;
    box-sizing: border-box;
    overflow: hidden;
    padding-top:3em;
    padding-bottom: 3em;
    text-align: center;
}

.section3 h2
{
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.75px;
  text-align: center;
  color: #ab1818;
  margin-block-start: 0;
  margin-block-end: 0;
}

.section3 p
{
  font-family:sans-serif;
  font-size: 11px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: gray;
}

.brush_2
{
  width: 188.5px;
  height: 6.5px;
}

.tesimonials_container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height:auto;
    width:100%;
    /* background: red; */
    box-sizing: border-box;
    padding:2em 20px 2em 20px;
}

.tesimonial_inner_left_container
{
    display: flex;
    height: auto;
    width:50%;
    /* background: pink; */
    box-sizing: border-box;
    padding:20px;
    align-items: flex-end;
    justify-content: center;
}


.Rectangle-268
{
    width: 207px;
    height: 181.5px;
    border-radius: 5px;
    background-color: rgb(168, 14, 14);
    position: relative;
}

.Rectangle-268::after
{
    content: "";
    width: 335px;
    height: 318px;
    border-radius: 5px;
    position: absolute;
    /* background: red; */
    top:-180px;
    left:80px;
    background-image: url('../assets/img/beutiful-young-healthy-women.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.tesimonial_inner_right_container
{
    display: flex;
    height:400px;
    width:50%;
    /* background: orange; */
    align-items: center;
    box-sizing: border-box;
    padding-left: 15px;
}

.text-wrapper
{
    height:auto;
    width:100%;
    /* background:pink; */
    box-sizing: border-box;
    padding:10px;
    text-align: left;
}
.text-wrapper img
{
  width: 49.8px;
  height: 42px;
}

.text_p
{
    width: 355px;
    height: 79px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 0.3px;
    text-align: left;
    color: gray;
    padding-top:10px;
    padding-bottom: 10px;
}

.text-wrapper h3
{
  font-family: sans-serif;
  font-size: 12.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.38px;
  text-align: left;
  color: #333;
}




/*------------------------------------------home screen- media-query---------------------------------------*/

@media (max-width: 768px) {
    .Party-Time
    {
        width: 100%;
        font-size: 30px;
        text-align: center;
        top:250px;
    }
    .Group-1389
    {
        display: flex;
        flex-direction: row;
        /* flex-wrap: wrap; */
        width: 100%;
        height: auto;
        position: absolute;
        top:300px;
        /* background:red */
    }

    #left_container
    {
        height:86.9px;
        width:10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #left_container img
    {
        width: 50px;
        height: 50px;
    }

    #center_container{
        height:86.9px;
        width:80%;
        position: relative;
        display: flex;
        justify-content: center;
    }
    #center_container img
    {
        width: 280px;
        height: 86.9px;
    }
    .Buy-any-2-burgers-and-get-15L-Pepsi-Free
    {
    width: 100px;
    height: 38.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.33px;
    text-align: left;
    color: #fff;
    position: absolute;
    top:28px;
    left:65px;
    }

    #right_container
    {
        height:86.9px;
        width:10%;
        /* background: yellow; */
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #right_container img
    {
        width: 11.2px;
        height: 21.5px;
    }

    .order_now
    {
        width: 100%;
        height: auto;
        position: absolute;
        top:430px;   
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tesimonial_inner_left_container
    {
        height:auto;
        width: 100%;
        display: flex;
        /* background: pink; */
        box-sizing: border-box;
        /* padding:20px; */
        justify-content: center;
    }
    
    .tesimonial_inner_right_container
    {
        width:100%;
        padding-right: 10px;
        margin-top:50px;
    }

    .text_p
    {
        width: 100%;
        height: auto;
    }

    .Rectangle-268
    {
        width: 100%;
        height: 100px;
        border-radius: 5px;
        background-color: rgb(168, 14, 14);
        position: relative;
    }

    .Rectangle-268::after
    {
        content: "";
        width: 100%;
        height: 250px;
        border-radius: 5px;
        position: absolute;
        /* background: red; */
        top:0px;
        left:0px;
        background-image: url('../assets/img/beutiful-young-healthy-women.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

  }