.navbar_container
{
    display: flex;
    flex-direction: row;
    height:54.5px;
    width:100%;
    background: transparent;
    position: absolute;
    top: 0px;
    z-index: 100;
    align-items: center;
    justify-content: flex-end;
}
.Rectangle-287
{
    width: 546.5px;
    height: 54.5px;
    display: flex;
    align-items: center;
}
.categories_box
{
    height: 54.5px;
    background:#452d2e;
    opacity: 0.61;
    display: flex;
    align-items: center;
}

.Rectangle-287 li
{
    list-style: none;
    display: inline-block;
    cursor: pointer;
}
.Rectangle-287 .categories
{
    font-family: sans-serif;
    font-size: 11px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.24px;
    color: #fff;
    margin:5px;
    padding: 7px;
}

.Rectangle-288
{
    width: 214px;
    height: 54.5px;
    background: #a80e0e;
    margin:0px !important;
    padding: 0px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Rectangle-288 .categories_action
{
    padding:10px;
    margin:5px;
}

.Rectangle-288 img
{
    width: 16.5px;
    height: 16.5px;
}

/*----------------------------breand_name_icon_container--------------------------*/

.brand_name_container
{
    height:73.1px;
    width: 100%;
    position: absolute;
    top:20px;
    z-index: 100;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.brand_name_container img
{
    width: 106px;
    height: 73.1px;
    margin-left: 106px;
}


/*---------------------------mobile-navbar-----------------*/

.mobile_navbar
{
    display: none;
    flex-direction: row;
    height:auto;
    width:100%;
    position: fixed;
    top:0px;
    z-index: 150;
    align-items: center;
}
.mobile_brand_wrapper
{
    display: flex;
    height:73px;
    width:30%;
    /* background:pink; */
    justify-content: center;
    align-items: center;
}

.mobile_brand_wrapper img
{
    height:80px;
    width:90px;
}

.mobile_categories
{
    display: flex;
    height:73px;
    width:70%;
    background:#452d2e;
    opacity: 0.61;
    justify-content: center;
    align-items: center;
}

.mobile_categories li
{
  list-style: none;
  display: inline-block;
  padding:10px;
  margin:5px;
  cursor: pointer;
}
.mobile_categories li img
{
    width: 25px;
    height: 25px;
}
.drawer_container
{
    height:100%;
    width:252px;
    background:#333;
    opacity: 0.8;
    position: fixed;
    top: 73px;
    z-index: 100;
    right:-252px;
    transition: 0.3s;
}

.drawer_container li
{
    color:#fff;
    margin:5px;
    padding:10px;
    list-style: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .mobile_navbar{
        display: flex !important;
    }
    .navbar_container
    {
        display: none !important;
    }
    .brand_name_container
    {
        display: none !important;
    }

}